body {
  margin: 0 auto;
  width: 90%;
}

.flex-container {
  align-items: flex-start;
  column-gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

section {
  margin-bottom: 1.5rem;
  width: 320px;
}

@media (max-width: 738px) {
  section {
    width: 100%;
  }
}

article:not(:last-child) {
  margin-bottom: 20px;
}
